[submodule "base16-vim"]
	path = vim/.vim/pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim-commentary"]
	path = vim/.vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-gitgutter"]
	path = vim/.vim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-polyglot"]
	path = vim/.vim/pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "emmet-vim"]
	path = vim/.vim/pack/bundle/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pinnacle"]
	path = vim/.vim/pack/bundle/start/pinnacle
	url = https://github.com/wincent/pinnacle
[submodule "zsh-vim-mode"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode
[submodule "vim-tmux-navigator"]
	path = vim/.vim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "fzf.vim"]
	path = vim/.vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "fzf"]
	path = vim/.vim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
